<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <footer th:fragment="footer" class="footer">

        <!-- Company Info -->
        <div class="company-info">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <img th:src="@{/img/logo.png}" alt="job creator of logo">
                        <h5>  人とITで、企業の未来をつなぐ。課題解決のパートナー </h5>
                        <p><i class="fas fa-map-marker-alt"></i>
                            【本社所在地】<br>
                            　〒824-0003
                            　福岡県行橋市中央3丁目5番25号</p>
                        <p><i class="fas fa-envelope"></i> Email: info@jobcre.co.jp</p>
                        <p><i class="fas fa-phone"></i>
                            TEL（総合窓口)<br>
                            　0930-55-0422
                            　0800-8080-325</p>
                        <p><i class="fas fa-clock"></i> 営業時間: 8:00 - 17:00 (Thứ 2 - Thứ 6)</p>
                        <div class="contact-buttons">
                            <a href="/contact" class="mute-btn">お問い合わせ</a>
                            <a href="/terms" class="mute-btn">お申し込み</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row footer-menu">
                            <div class="col-md-3">
                                <h4>About</h4>
                                <ul>
                                    <li><a href="/about">HOME</a></li>
                                    <li><a href="/about">JOB CREATORとは</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h4>Service</h4>
                                <ul>
                                    <li><a href="/service">サービス内容</a></li>
                                    <li><a href="/price">手続きの流れ</a></li>
                                    <li><a href="/area">対応エリア国</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h4>Company</h4>
                                <ul>
                                    <li><a href="/company">運営元情報</a></li>
                                    <li><a href="/company#partners-legal">協力企業・法律顧問</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3">
                                <h4>Info</h4>
                                <ul>
                                    <li><a href="/qa">Q＆A</a></li>
                                    <li><a href="/terms">ご利用規約</a></li>
                                    <li><a href="/nondisclosure">個人情報保護方針</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copyright -->
        <div class="copyright">
            <div class="container">
                <p>Copyright © Job Cretor All Rights Reserved.</p>
            </div>
        </div>
    </footer>
</body>
</html> 